html{
    font-size: 100px;
}

@media only screen and (min-width: 600PX) and (max-width:720PX) {
    html {
        font-size:85.333px;
    }
}

@media only screen and (min-width: 720PX) and (max-width:750PX) {
    html {
        font-size:96px;
    }
}

@media only screen and (min-width: 750PX) and (max-width:780PX) {
    html {
        font-size:100px;
    }
}

@media only screen and (min-width: 780PX) and (max-width:820PX) {
    html {
        font-size:104.8px;
    }
}

@media only screen and (min-width: 820PX) and (max-width:828PX) {
    html {
        font-size:109.6px;
    }
}

@media only screen and (min-width: 828PX) and (max-width:1280PX) {
    html {
        font-size:110.4px;
    }
}

@media only screen and (min-width: 1281PX) {
    html {
        font-size:110.4px;
    }
}

.container{
    width: 7.5rem;
}

.banner{
    height: 3.1rem;
}

.banner img{
    width: 100%;
    height: 3.3rem;
}

.activity{
    height: 2rem;
    background: #f5f5f5;
    position: relative;
    top: -0.15rem;
    left: 0;
    border-radius: 0.15rem 0.15rem 0 0;
}

.activity img{
    padding-top: 0.15rem;
    width: 7rem;
    height: 1.8rem;
}

.category{
    width: 100%;
    height: 3.2rem;
    display: flex;
    flex-wrap: wrap;
}

.category-item{
    width: 1.5rem;
    height: 1.5rem;
}

.category-item a{
    padding-top: 0.2rem;
    width: 1.5rem;
    height: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.24rem;
    justify-content: space-around;
}

.news{
    height: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.22rem;
}

.news-title{
    width: 1.48rem;
    height: 0.27rem;
    margin-left: 0.3rem;
    margin-right: 0.16rem;
}

.scroll-news{
    font-size: 0.22rem;
    width: 4.4rem;
    height: 0.6rem;
    overflow: hidden;
}

.scroll-news-item{
    width: 4.4rem;
    height: 0.6rem;
    line-height: 0.6rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.scroll-news-item strong{
    color: #f62f2f;
    float: left;
    padding-right: 0.1rem;
}

.scroll-news-item p{
    float: left;
}

.news-more{
    border-left: 0.02rem solid #dfdfdf;
    padding-left: 0.1rem;
}